In [3]:
import numpy as np
import pandas as pd

In [4]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies = movies.merge(credits,on='title')

In [8]:
movies.shape

(4809, 23)

In [9]:
credits.shape

(4803, 4)

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
# genres
# homepage
# id
# keywords
# title
# overview
# release_date
# runtime
# spoken_languages
# status
# cast
# crew 

movies = movies[['movie_id','genres','homepage','keywords','title','overview','release_date','runtime','spoken_languages','status','cast','crew']]

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movie_id          4809 non-null   int64
 1   genres            4809 non-null   object
 2   homepage          1713 non-null   object
 3   keywords          4809 non-null   object
 4   title             4809 non-null   object
 5   overview          4806 non-null   object
 6   release_date      4808 non-null   object
 7   runtime           4807 non-null   float64
 8   spoken_languages  4809 non-null   object
 9   status            4809 non-null   object
 10  cast              4809 non-null   object
 11  crew              4809 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 488.4+ KB

In [13]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [14]:
movies.isnull().sum()

movie_id               0
genres                 0
homepage            3096
keywords               0
title                  0
overview               3
release_date           1
runtime                2
spoken_languages       0
status                 0
cast                   0
crew                   0
dtype: int64

In [15]:
movies.dropna(inplace=True)

In [16]:
movies.duplicated().sum()

0

In [17]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
import ast

In [19]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [20]:
movies['genres'] = movies['genres'].apply(convert)

In [21]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [22]:
movies['keywords'] = movies['keywords'].apply(convert)

In [23]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [24]:
movies['spoken_languages'] = movies['spoken_languages'].apply(convert)

In [25]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,162.0,"[English, Español]",Released,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [26]:
def convertactors(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [27]:
movies['cast'] = movies['cast'].apply(convertactors)

In [28]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,162.0,"[English, Español]",Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [29]:
def director(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [30]:
movies['crew'] = movies['crew'].apply(director)

In [31]:
movies.head()

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,162.0,"[English, Español]",Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,169.0,[English],Released,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,"[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,148.0,"[Français, English, Español, Italiano, Deutsch]",Released,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]",http://www.thedarkknightrises.com/,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,165.0,[English],Released,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]",http://movies.disney.com/john-carter,"[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,132.0,[English],Released,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [32]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [33]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [34]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",2009-12-10,162.0,"[English, Español]",Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [35]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [36]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",http://www.avatarmovie.com/,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",2009-12-10,162.0,"[English, Español]",Released,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [37]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['cast'] + movies['crew']

In [38]:
movies.head(1)

,movie_id,genres,homepage,keywords,title,overview,release_date,runtime,spoken_languages,status,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",http://www.avatarmovie.com/,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",2009-12-10,162.0,"[English, Español]",Released,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."

In [39]:
new_df = movies[['movie_id', 'title', 'tags']]

In [40]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_27408\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [41]:
new_df['tags'][0]

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [42]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\KIIT\AppData\Local\Temp\ipykernel_27408\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [43]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

In [44]:
import nltk

In [45]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [46]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [47]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_27408\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [48]:
new_df['tags'][0]

'action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav jamescameron'

In [49]:
new_df['tags'][1]

"adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. johnnydepp orlandobloom keiraknightley goreverbinski"

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features =5000, stop_words = 'english')

In [51]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [52]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [53]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [54]:
cv.get_feature_names()

e:\Projects\Movie Recommendation\Lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['00',
 '000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18th',
 '1950',
 '1955',
 '1960',
 '1960s',
 '1970',
 '1979',
 '1980',
 '1985',
 '19th',
 '19thcenturi',
 '20',
 '2008',
 '2009',
 '20th',
 '21stcenturi',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'abandon',
 'abbiecornish',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'abov',
 'absurd',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'achiev',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adamsandl',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adjust',
 'admir',
 'adolesc',
 'adopt',
 'ador',
 'adrift',
 'adult',
 'adulteri',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agency',
 'agenda',
 'agent',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'ail',
 'aim',
 'air',
 'airplan',
 'airport',
 'aka',
 'al',
 'alaska',
 'albert',
 'alcohol',
 'aldou',
 'alecbaldwin',
 'alex',
 'alexkendrick',
 'algeria',
 'ali',
 'alic',
 'alice',
 'alicebraga',
 'alien',
 'alieninvas',
 'alienplanet',
 'alike',
 'aliv',
 'alive',
 'allen',
 'alli',
 'allianc',
 'allies',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alternatehistori',
 'alvin',
 'alway',
 'alzheimer',
 'amandaseyfri',
 'amaz',
 'amazon',
 'ambassador',
 'amberheard',
 'ambit',
 'ambiti',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americandream',
 'americanfootbal',
 'americanfootballplay',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amyadam',
 'anakin',
 'analyst',
 'analyz',
 'anarchist',
 'ancient',
 'ancientgreec',
 'ancientworld',
 'anderson',
 'andi',
 'andrewgarfield',
 'andrewstanton',
 'android',
 'andy',
 'andyserki',
 'angel',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animallead',
 'animals',
 'ann',
 'anna',
 'annabel',
 'annafari',
 'annakendrick',
 'anne',
 'annehathaway',
 'annemoss',
 'annetteben',
 'anni',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antarct',
 'antarctica',
 'anthoni',
 'anthonyhopkin',
 'anthonymacki',
 'anthonyrusso',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antiterror',
 'antonio',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apes',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'appar',
 'appear',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'aquarium',
 'arab',
 'arbitrarylaw',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'archeri',
 'architect',
 'area',
 'arena',
 'argentina',
 'argument',
 'aris',
 'aristocrat',
 'arizona',
 'ark',
 'arm',
 'armi',
 'armor',
 'armsdeal',
 'army',
 'arnoldschwarzenegg',
 'arrang',
 'arrest',
 'arriv',
 'arrog',
 'arson',
 'art',
 'artgalleri',
 'arthur',
 'articl',
 'artifici',
 'artificialinsemin',
 'artificialintellig',
 'artist',
 'artists',
 'asabutterfield',
 'asgard',
 'ash',
 'ashley',
 'ashleytisdal',
 'ashtonkutch',
 'asia',
 'asid',
 'ask',
 'asleep',
 'asperger',
 'aspir',
 'aspiringsing',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'assum',
 'astronaut',
 'astrophysicist',
 'asylum',
 'atheist',
 'athlet',
 'atlanticocean',
 'atomicbomb',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attempttoescap',
 'attend',
 'attent',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'audreytaut',
 'august',
 'aunt',
 'australia',
 'australian',
 'author',
 'auto',
 'autobot',
 'automaton',
 'automobilerac',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'babi',
 'baby',
 'babysitt',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'backstag',
 'backyard',
 'bad',
 'badli',
 'bahama',
 'bail',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltasarkormákur',
 'balthazar',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobberi',
 'bar',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barrier',
 'barry',
 'barrysonnenfeld',
 'bars',
 'bas',
 'base',
 'basebal',
 'baseball',
 'basedonchildren',
 'basedoncomicbook',
 'basedonfairytal',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonshortstori',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'bathhous',
 'bathtub',
 'batman',
 'battalion',
 'battl',
 'battlefield',
 'bay',
 'beach',
 'bear',
 'beard',
 'beast',
 'beat',
 'beau',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'bebo',
 'becam',
 'becaus',
 'becca',
 'becki',
 'becom',
 'becominganadult',
 'bed',
 'bee',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'behead',
 'belief',
 'believ',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benkingsley',
 'bennet',
 'bennett',
 'benstil',
 'bent',
 'benwhishaw',
 'berlin',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'bethani',
 'betray',
 'betroth',
 'better',
 'beverli',
 'bfg',
 'bibl',
 'bid',
 'big',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'bilbo',
 'billhad',
 'billi',
 'billionair',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburk',
 'biographi',
 'biolog',
 'bird',
 'birth',
 'birthday',
 'bit',
 'bite',
 'bittersweet',
 'bizarr',
 'black',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blakel',
 'blame',
 'blaze',
 'blend',
 'blind',
 'bliss',
 'blizzard',
 'block',
 'blofeld',
 'blog',
 'blood',
 'bloodi',
 'bloodsplatt',
 'blow',
 'blu',
 'blue',
 'blunt',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbyfarrelli',
 'bodi',
 'body',
 'bodyguard',
 'bohemian',
 'bollywood',
 'bolt',
 'bomb',
 'bond',
 'boo',
 'book',
 'border',
 'bore',
 'boring',
 'born',
 'boss',
 'boston',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'bourn',
 'bowl',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boys',
 'bradbird',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brand',
 'brandon',
 'brave',
 'braveri',
 'break',
 'breast',
 'brendan',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brian',
 'brianrobbin',
 'bride',
 'bridesmaid',
 'bridg',
 'bridge',
 'brielarson',
 'brien',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'broke',
 'broken',
 'brooklyn',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucewilli',
 'brutal',
 'bryancranston',
 'bryansing',
 'bu',
 'bud',
 'buddi',
 'buddycomedi',
 'budget',
 'build',
 'built',
 'bullet',
 'bulli',
 'bunker',
 'bunni',
 'burglar',
 'buri',
 'burk',
 'burn',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butcher',
 'button',
 'buy',
 'buzz',
 'cabin',
 'cage',
 'cairo',
 'cal',
 'caleb',
 'california',
 'calvin',
 'camcord',
 'came',
 'camera',
 'cameraman',
 'camerondiaz',
 'camgigandet',
 'camp',
 'campaign',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candi',
 'candid',
 'canon',
 'cao',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'capture',
 'car',
 'caraccid',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'careymulligan',
 'carjourney',
 'carl',
 'carlagugino',
 'carlossaldanha',
 'carmen',
 'carolina',
 'carpet',
 'carrac',
 'carri',
 'carrie',
 'carriefish',
 'carsetonfir',
 'carter',
 'cartoon',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'castle',
 'cat',
 'cataclysm',
 'catacomb',
 'catch',
 'cateblanchett',
 'catherinekeen',
 'catherinezeta',
 'cathol',
 'catholic',
 'caught',
 'caus',
 'cause',
 'cave',
 'celebr',
 'celebration',
 'cell',
 'cellphon',
 'center',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chain',
 'challeng',
 'champion',
 'championship',
 'chanc',
 'chang',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charl',
 'charli',
 'charlie',
 'charlizetheron',
 'charm',
 'chase',
 'chasesandrac',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'children',
 'chimp',
 'china',
 'chines',
 'chipmunk',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'choic',
 'choice',
 'choir',
 'choos',
 'chosen',
 'chosenon',
 'chri',
 'chriscolumbu',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chrispin',
 'chrispratt',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christin',
 'christinaricci',
 'christma',
 'christmas',
 'christmasparti',
 'christoph',
 'christopherlloyd',
 'christophernolan',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chronicl',
 'chu',
 'church',
 'churchservic',
 'cia',
 'ciaránhind',
 'cinderella',
 'cinema',
 'circu',
 'circumst',
 'citi',
 'cities',
 'citizen',
 'city',
 'civil',
 'claim',
 'clair',
 'clan',
 'class',
 'classdiffer',
 'classic',
 'classmat',
 'classroom',
 'clean',
 'clear',
 'clerk',
 'client',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'club',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'cobra',
 'cocain',
 'cockburn',
 'code',
 'coffin',
 'cohabit',
 'cohen',
 'cold',
 'coldwar',
 'colin',
 'colinfarrel',
 'collapse',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collin',
 'collis',
 'colombia',
 'color',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commit',
 'common',
 'commun',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compound',
 'comput',
 'concern',
 'concert',
 'condit',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'conman',
 'connect',
 'connel',
 'connor',
 'conquer',
 'consequ',
 'consequences',
 'consid',
 'conspiraci',
 'conspiracyofmurd',
 'constantli',
 'contact',
 'contain',
 'contend',
 'contest',
 'contin',
 'continu',
 'contract',
 'contractor',
 'control',
 'controversi',
 'convict',
 'convinc',
 'cook',
 'cooper',
 'cop',
 'cope',
 'cops',
 'core',
 'corner',
 'corp',
 'corpor',
 'corporation',
 'corps',
 'corrupt',
 'cost',
 'costum',
 'count',
 'countdown',
 'countri',
 'country',
 'countryhous',
 'countrysid',
 'coup',
 'coupl',
 'couple',
 'courag',
 'cours',
 'court',
 'cousin',
 'cover',
 'covert',
 'cowardli',
 'cowboy',
 'crack',
 'craft',
 'craig',
 'craiggillespi',
 'crane',
 'crash',
 'crazi',
 'creat',
 'creation',
 'creativ',
 'creator',
 'creatur',
 'creatures',
 'credit',
 'crew',
 'cri',
 'crime',
 'crimefight',
 'crimin',
 'criminal',
 'criminalmastermind',
 'crisi',
 'crisis',
 'critic',
 'critter',
 'crook',
 'crop',
 'cross',
 'crossed',
 'crown',
 'crucifix',
 'cruel',
 'cruelti',
 'cruise',
 'crusad',
 'crush',
 'crystal',
 'cthulhu',
 'cubagoodingjr',
 'cullen',
 'culmin',
 'cult',
 'cultfilm',
 'cultur',
 'culture',
 'cultureclash',
 'cup',
 'cure',
 'curios',
 'current',
 'curs',
 'curse',
 'custodi',
 'custody',
 'custom',
 'cut',
 'cutthroat',
 'cuttingthecord',
 'cyberpunk',
 'cyborg',
 'cyclist',
 'dad',
 'daili',
 'dam',
 'damag',
 'dan',
 'danc',
 'dancer',
 'danfogl',
 'danger',
 'daniel',
 'danielcraig',
 'danielradcliff',
 'danni',
 'danny',
 'dannyboyl',
 'dannyglov',
 'dannymcbrid',
 'dare',
 'dark',
 'darkcomedi',
 'darker',
 'darkest',
 'darkfantasi',
 'darkness',
 'darkpast',
 'darrenaronofski',
 ...]

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
similarity = cosine_similarity(vectors)

In [57]:
sorted(list(enumerate(similarity[0])),reverse = True, key = lambda x:x[1])[1:6]

[(604, 0.2672612419124244),
 (341, 0.23097828906119441),
 (53, 0.2204792759220492),
 (436, 0.2182178902359924),
 (123, 0.2020305089104422)]

In [58]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse = True, key = lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [59]:
recommend('Spectre')

Skyfall
Never Say Never Again
Quantum of Solace
From Russia with Love
Octopussy

In [60]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict culturecla...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabus exotici...
2,206647,Spectre,action adventur crime spi basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...
4,49529,John Carter,action adventur sciencefict basedonnovel mar m...

In [61]:
import pickle

In [62]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [64]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Primer', 'Signed, Sealed, Delivered', 'Shanghai Calling'],
      dtype=object)

In [ ]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [65]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))